<div class="container mt-5">
  <h2 class="text-center gradient-custom text-white">Gerenciamento de Usuários</h2>
  <div class="mt-4">
    <a href="/" class="btn btn-primary">Voltar para Login</a>
  </div>
  <table class="table table-striped mt-4">
    <thead class="thead-dark">
    <tr>
      <th>ID</th>
      <th>Nome</th>
      <th>Email</th>
      <th>Status</th>
      <th>Ações</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <td>{{ user.id }}</td>
      <td>
        <ng-container *ngIf="editingUserId === user.id; else viewMode">
          <input type="text" [(ngModel)]="user.name" class="form-control" />
        </ng-container>
        <ng-template #viewMode>
          {{ user.name }}
        </ng-template>
      </td>
      <td>
        <ng-container *ngIf="editingUserId === user.id; else viewModeEmail">
          <input type="email" [(ngModel)]="user.email" class="form-control" />
        </ng-container>
        <ng-template #viewModeEmail>
          {{ user.email }}
        </ng-template>
      </td>
      <td>{{ user.status ? 'Ativo' : 'Inativo' }}</td>
      <td>
        <button *ngIf="editingUserId === user.id" class="btn btn-success btn-sm me-2" (click)="saveUser(user)">Salvar</button>
        <button *ngIf="editingUserId !== user.id" class="btn btn-primary btn-sm me-2" (click)="editUser(user)">Editar</button>
        <button class="btn btn-warning btn-sm me-2" (click)="toggleUserStatus(user)">
          {{ user.status ? 'Desativar' : 'Ativar' }}
        </button>
        <button class="btn btn-danger btn-sm" (click)="deleteUser(user.id)">Excluir</button>
      </td>
    </tr>
    </tbody>
  </table>
  <div *ngIf="notification" class="alert" [ngClass]="{'alert-success': notification.success, 'alert-danger': !notification.success}">
    {{ notification.message }}
  </div>
</div>
